# Enforce LF line endings in all text files
* text=auto

# Ensure specific files use LF line endings
*.sh text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.java text eol=lf
*.feature text eol=lf
